<h1><h2><%= @records.title %></h2></h1>

<form action="/records/<%= @records.id %>" method="POST">
  <input type="hidden" name="title" value="<%= @records.title %>">

  <input type="hidden" name="artist_id" value="<%= @records.artist_id %>">
  <label for="quantity">Quantity</label>
  <input type="text" name="quantity" id="quantity" value="<%= @records.quantity %>">
  <input type="submit" value="Adjust Inventory"/>
</form>
