<h1>Records</h1>

<p><a href="/records/new"><button>Add a new record</button></a></p>
<br>

<table>
  <thead>
    <tr>
      <th>Artist</th>
      <th>Title</th>
      <th>Stock</th>
      <th><a href="/records/order">Arrange by Stock</a></th>
    </tr>
  </thead>
  <tbody>


    <% @records.each do |record| %>
    <tr>
      <td><%= record.get_artist.name  %></td>
      <td><a href="/records/show/<%= record.id %>"><%= record.title() %></a></td>
      <td><a href="/records/<%= record.id %>"><%= record.quantity %></a></td>
      <td><%= record.stock_level %></td>
    </tr>
    <% end %>
  </tbody>
</table>
