<h1><%= @artists.name %></h1>
<a href="/artists/<%= @artists.id %>/destroy"><button>Delete</button></a>
<h4>WARNING! DELETING AN ARTIST WILL DELETE ALL RECORDS ASSOCIATED WITH THIS ARTIST!</h4>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Stock</th>
      <th>Genre</th>
    </tr>
  </thead>

  <tbody>
<% @records.each do |record| %>
  <% if record.artist_id == @artists.id %>
  <tr>
  <td><%= record.title %></td>
  <td><%= record.quantity%></td>
<% @genres.each do |genre| %>
  <% if record.genre_id == genre.id %>
  <td><%= genre.genre %></td>
  </tr>
  <% end %>
  <% end %>
<% end %>
<% end %>
  </tbody>
</table>
